.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.tags {
  display: inline-block;
}

.tags li {
  display: inline-block;
}

.tags a li {
  text-decoration: underline;
}


#tags {
  display: inline-block;
}

#hide_me {
  visibility: hidden;
}