<form action='/posts/<%= @post.id %>' method='POST'>
  <input name="giggles[title]" placeholder="title" value='<%= @post.title %>' type='text'>
  <textarea name="giggles[body]" placeholder="body" type='text'><%= @post.body %></textarea>
  <input type="hidden" name="_method" value="PATCH">
  <input type='submit' value='Update!'>
</form>
