<p>Hipster Rating: <span id="score">0</span></p>
<form class="newpost" action='/posts' method='post'>
  <input name="post[title]" placeholder="title" type='text'>
  <textarea name="post[body]" placeholder="body" type='text'></textarea>
  <input name="tags" placeholder="tags(space-separated)" type='text'>
  <input type='submit' value='Post!'>
</form>
