<form action='/posts' method='post'>
  <input name="title" placeholder="title" type='text'>
  <textarea name="body" placeholder="body" type='text'></textarea>
  <input type='submit' value='Post!'>
</form>
