<div class="content">
  <section>
    <h2><%= @post.title %></h2>
    <p><%= @post.body %></p>
  </section>
</div>

<form action='/posts/<%= @post.id %>' method='POST'>
  <input type="hidden" name="_method" value="DELETE">
  <input type='submit' value='Delete!'>
</form>

<a href='/posts'>all posts</a>
