<div class="container">
  <h1>What's your deep thought?</h1>
    <form action="/create_post" method="POST">
      <input name="title" type="text" placeholder="title"><br><br>
      <textarea name="body" type="text" placeholder="body"></textarea><br><br>
      <input name="tag" type="text" placeholder="tag"><br><br>
      <input type="submit">
    </form>
</div>