<div class="container">
  <h1>Think Deeply Again?</h1>
    <form action="/edit_post" method="POST">
      <input name="id" value="<%=post.id%>" id="hide_me">
      <input name="title" type="text" placeholder="title" value="<%=post.title%>"><br><br>
      <textarea name="body" type="text" placeholder="body"><%=post.body%></textarea><br><br>
      <input name="tags" type="text" placeholder="tags" value="<%=post.tags.map(&:name).join(', ')%>"><br><br>
      <input type="submit">
    </form>
</div>