<h2>User Login</h2>
<form action='/' method='POST'>
  <input name="login[username]" placeholder="username" type='text'>
  <%if session[:username_error] %>
    <span><%= session[:username_error] %></span>
    <% session[:username_error] = nil %>
  <% end %>
  <br>
  <input name="login[password]" placeholder="password" type='text'>
  <%if session[:password_error] %>
    <span><%= session[:password_error] %></span>
    <% session[:password_error] = nil %>
  <% end %>
  <br>
  <input type='submit' value='Login!'>
</form>
<a href='/new'>New User?</a>
