<div class="container">
  <h1>Deep Thoughts</h1>
  <h3>Have your own deep thought? <a href="/create_post"> Write it here</a></h3>
    <ul>
      <% posts.each do |post| %>
        <a href="/show/<%=post.id%>"><li><%= post.title %></li></a>
      <% end %>  
    </ul>
</div>
