<h2>New User</h2>
<form action='/new' method='POST'>
  <input name="login[username]" placeholder="username" type='text'><br>
  <input name="login[password]" placeholder="password" type='text'><br>
  <input type='submit' value='Register!'>
</form>
<a href='/'>Already registered?</a>
